backend/findMeHome/__pycache__/__init__.cpython-39.pyc
backend/findMeHome/models/__pycache__/admin.cpython-39.pyc
backend/findMeHome/models/__pycache__/Base.cpython-39.pyc
backend/findMeHome/models/__pycache__/blog.cpython-39.pyc
backend/findMeHome/models/__pycache__/breed.cpython-39.pyc
backend/findMeHome/models/__pycache__/disease.cpython-39.pyc
backend/findMeHome/models/__pycache__/diseasedog.cpython-39.pyc
backend/findMeHome/models/__pycache__/dog.cpython-39.pyc
backend/findMeHome/models/__pycache__/list.cpython-39.pyc
backend/findMeHome/models/__pycache__/main.cpython-39.pyc
backend/findMeHome/models/__pycache__/shelter.cpython-39.pyc
backend/findMeHome/models/__pycache__/user.cpython-39.pyc
backend/findMeHome/resources/__pycache__/routes.cpython-39.pyc
backend/findMeHome/resources/__pycache__/resources.cpython-39.pyc
backend/server.py
*.pyc
*.xml
.idea
.idea/*
.idea/*.*
.env
frontend/.env
