<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>CMS</title>
    <link rel="icon" type="image/png" href="../../static/images/cms.png">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
    <div class="wrapper">
  <div class="container">
    <h1>Welcome</h1>
    <form action="/login" class="form" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" id="login-button">Login</button>
    </form>
      <a class="btn" href="signup">Sign Up</a>
      <h1 id="msg">{{ msg }}</h1>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
</body>
</html>