<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>CMS</title>
    <link rel="icon" type="image/png" href="../../static/images/cms.png">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/showallusers.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1>Students</h1>
        {% if students|length ==0 %}
            <h1 class="black">No Students Data Found</h1>
        {% else %}
            <table>
            <tbody>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>ENROLLED CLASSES</th>
                <th>USERNAME</th>
                <th>STATUS</th>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[3] }}</td>
                    <td>{{ student[4] }}</td>
                    <td>{{ student[5] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <h1>Teachers</h1>
    {% if teachers|length==0 %}
            <h1 class="black">No Teacher Data Found</h1>
        {% else %}
            <table>
            <tbody>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>ASSIGNED CLASSES</th>
                <th>USERNAME</th>
                <th>STATUS</th>
            </tr>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher[0] }}</td>
                    <td>{{ teacher[1] }}</td>
                    <td>{{ teacher[2] }}</td>
                    <td>{{ teacher[3] }}</td>
                    <td>{{ teacher[4] }}</td>
                    <td>{{ teacher[5] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>