<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>CMS</title>
    <link rel="icon" type="image/png" href="../../static/images/cms.png">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/signup.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1>Sign Up</h1>
        <h1 id="msg">{{ msg }}</h1>
        <form action="/validatesignup" class="form" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" minlength="8" required>
            <input type="text" name="name" placeholder="Name" required>
            <select class="form_select" name="user_type" required>
                <option disabled="disabled" selected="selected" value="">Select type</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
            </select>
            <button type="submit" id="login-button">Sign Up</button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>