<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>CMS</title>
    <link rel="icon" type="image/png" href="../../static/images/cms.png">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/login_success.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1>Welcome {{ username }}</h1>
        <a href="/showcreateclassroom">Create Classroom</a><br>
        <a href="/addstudent">Add Students</a><br>
        <a href="/showallclassrooms">Show All Classrooms</a><br>
        <a href="/logout">Logout</a>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>