#title {
    color: greenyellow;
    margin-top: 19vh;
}

.black {
    color: #333333;
}

table, th, td {
    border: 1px solid;
    color: #333333;
}
.wrapper {
    opacity: 0.8;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    overflow: initial;
}
.bg-bubbles{
    height: initial;
}
.bg-bubbles li{
    height: 0;
    bottom: 0;
    position: fixed;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 5px 30px 30px 30px;
    height: auto;
    text-align: center;
}
.container h1{
    margin: 10px auto   ;
}